data/raw/*
data/hospital.db

# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environments
.venv/
env/
venv/
myenv/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*~

# Sensitive information (example)
config.ini
.env